---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.page__footer {
    float: left;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    clear: both;
    position: fixed;
    bottom: 0;
    height: auto;
    margin-top: 3em;
    color: #fff !important;
    animation: intro 0.3s both;
    animation-delay: 0.45s;
    background-color: #30e3ca;
}

.page__footer footer {
    clear: both;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    padding: 0 1em 1em;
}


.masthead__inner-wrap {
    padding: 0.3em   
}

.page__content p {
    font-size: 0.7em;
}


.archive__item-title {
    margin-bottom: 0.25em;
    font-family: -apple-system,BlinkMacSystemFont,"Roboto","Segoe UI","Helvetica Neue","Lucida Grande",Arial,sans-serif;
    line-height: initial;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 0.8em !important;
}


.archive__item-excerpt {
    margin-top: 0;
    font-size: .65em;
}
